# Python
__pycache__/
*.pyc

# Virtual environments
.ekqs_env/
.venv/
.lcenv/

# macOS system files
.DS_Store

# Local environment files
.env

# Streamlit / result folders
# result/

streamlit/

# Jupyter / testing
.ipynb_checkpoints/
.pytest_cache/

# IDE / tooling
.vscode/
.idea/
.mypy_cache/
.ruff_cache/
.python-version
